<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="container mt-5">
      <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <% if(prods.length > 0 ) {%> <% for(let product of prods) { %>
          <!-- Card -->
          <div class="card m-3">
            <!-- Card image -->
            <img
              class="card-img-top img-fluid"
              src="<%= product.imageUrl%>"
              alt="Card image cap"
            />

            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title"><a> <%= product.title %> </a></h4>
              <!-- Text -->
              <p class="card-text">
                <%= product.description%>
              </p>
              <!-- Button -->
              <a
                href="/products/<%=product.id%>"
                class="font-weight-bold btn btn-outline-default"
                >Details</a
              >
              <%- include('../includes/add-cart.ejs' ,{product:product}) %>
            </div>
          </div>
          <% } %>
          <!-- Card -->
          <% } else { %>
          <h2>No Products Found !</h2>
          <% }%>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <%- include('../includes/end.ejs') %>
  </body>
</html>
